---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../layouts/BlogPost.astro";

const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>

  <p>This is the blog page. There's not much here right now, stay as long as you'd like.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
