---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>A pile of driftwood</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari", "Shalom"]} />

    <p>
      I write about things, and also stuff.
    </p>
  </BaseLayout>

  <!-- // ---
  Original text from download: 

import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<Welcome />
	
</Layout> -->